html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	text-align: center;
	font-family: Arial;
	color:#333;
	background: #0c99d5;
}

h1{
	font-size: 3em;
	padding: 100px 0 25px;
}

.content
{
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.barra 
{
	z-index: 200;    
    background: #fff;
    background: rgba(255,255,255,0.97);
    background-image: none;
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);
}

.left 
{
	left:0;
}

.right
{
	right: 0;
}

.fixa
{
	position: fixed;
	top: 0;
	height: 100%;
	min-width: 1px;	
}

.aberto .barra-menu {
	width: 250px;
	height: 100%;
	background-color: #2b323a;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width .3s linear;
	-o-transition: width .3s linear;
	transition: width .3s linear;
}

.barra-menu {
	width: 50px;
	height: 100%;
	background-color: #2b323a;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width .3s linear;
	-o-transition: width .3s linear;
	transition: width .3s linear;
}
.topo {
	top: 0;
	left: 0;
}


.barra-topo {
	width: 100%;
	height: 50px;
	z-index: 198;
	padding-left: 60px;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	text-align: left;
}

.aberto .barra-topo 
{
	padding-left: 265px;
	padding-top: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.aberto .menu .texto{
	display: block;
}

.menu .texto{
	display: none;
}

.aberto .content-text {
	padding-left: 260px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.content-text {
	padding-top: 60px;
	padding-left: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}


.barra .titulo {
	display: none;
	width: 100%;
	padding: 8px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: border;
	color: #fff;
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}


.aberto .barra .titulo {
	display: inline-block;
}



.barra .content {
	display: inline-block;
	width: 100%;
}

.menu {
	width: 100%;
	padding-left: 0;
	margin-left:0;
}

.menu li {
	list-style: none;
	padding: 10px 0px;
	position: relative;
}

.menu li .zmdi
{
	position: absolute;
	top: 0;
	right: 0;
}

.menu a {
	text-decoration: none;
	color: #fff;
}

/*HELP'S*/

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}


.content-lateral .zmdi {
	color: #fff;
}

#repoAtuais {
	margin-top: 5px;
	border-top: 1px solid #fff;
	color: #fff;
}


.content-repo a{
	display: inline-block;
	padding: 5px 10px;
}


.row,
.col {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
 
.row:after {
  clear: both;
}

.col {
  position: relative;
  float: left;
}

.col + .col {
  margin-left: 1.6%;
}


.col-1 {
  width: 6.86666666667%;
}
 
.col-2 {
  width: 15.3333333333%;
}
 
.col-3 {
  width: 23.8%;
}
 
.col-4 {
  width: 32.2666666667%;
}
 
.col-5 {
  width: 40.7333333333%;
}
 
.col-6 {
  width: 49.2%;
}
 
.col-7 {
  width: 57.6666666667%;
}
 
.col-8 {
  width: 66.1333333333%;
}
 
.col-9 {
  width: 74.6%;
}
 
.col-10 {
  width: 83.0666666667%;
}
 
.col-11 {
  width: 91.5333333333%;
}
 
.col-12 {
  width: 100%;
}

.card-form {
	display: none;
}

.card-form input,
.card-form textarea  {
	width: 100%;
}

.card-form input:focus,
.card-form textarea:focus {
	border: none;

}

.card-form textarea {
	resize:none;
	height: 200px;
}

.drop-branch {
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;	
}

.titulo-texto {
	font-weight: bold;
	font-size: 1em;
}

@media (max-width:500px){
	.barra-menu {
		width: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: width .3s linear;
		-o-transition: width .3s linear;
		transition: width .3s linear;
	}

	.menu span{
		display: none;
	}
}
