html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	text-align: center;
	font-family: Arial;
	color:#333;
	background: #0c99d5;
}

h1{
	font-size: 3em;
	padding: 100px 0 25px;
}

.content
{
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.barra 
{
	z-index: 200;    
    background: #fff;
    background: rgba(255,255,255,0.97);
    background-image: none;
    box-shadow: 1px 1px 0px rgba(50,50,50,0.4);
}

.left 
{
	left:0;
}

.right
{
	right: 0;
}

.fixa
{
	position: fixed;
	top: 0;
	height: 100%;
	min-width: 1px;	
}

.barra-menu {
	width: 250px;
	height: 100%;
	background-color: #2b323a;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width .3s linear;
	-o-transition: width .3s linear;
	transition: width .3s linear;
}

.topo {
	top: 0;
	left: 0;
}


.barra-topo {
	width: 100%;
	height: 50px;
	z-index: 198;
	padding-left: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;

}

.aberto .barra-topo 
{
	padding-left: 250px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}


.barra .titulo {
	display: inline-block;
	width: 100%;
	padding: 8px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: border;
	color: #fff;
	font-size: 2em;
	margin-bottom: 10px;
}

.barra .content {
	display: inline-block;
}

.menu li {
	list-style: none;
	padding: 5px 0px;
}

.menu a {
	text-decoration: none;
	color: #fff;
}

/*HELP'S*/

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}




@media (max-width:500px){
	.barra-menu {
		width: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: width .3s linear;
		-o-transition: width .3s linear;
		transition: width .3s linear;
	}

	.menu span{
		display: none;
	}
}